// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

//fonts
$typewriter: 'Arvo', serif;

body {
  background: #e2ebf3;
}

// Upload Forms
.image-form {
  .uploaded-image {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
  }
  .image-left-column {
    display: inline-block;
  }
  .image-right-column {
    display: inline-block;
    input {
      width: 200px;
    }
    textarea {
      width: 200px;
      height: 200px;
    }
  }
}
.text-form {
  .uploaded-text {
    font-family: $typewriter;
    font-size: 3em;
    width: 500px;
    height: 100px;
  }
  textarea {
    width: 300px;
    height: 100px;
  }
}
.link-form {
  input {
    width: 200px;
  }
  textarea {
    width: 200px;
    height: 200px;
  }
}
.quote-form {
  .uploaded-quote {
    font-family: $typewriter;
    font-size: 3em;
    width: 500px;
    height: 100px;
  }
  textarea {
    width: 300px;
    height: 100px;
  }
}