.temp1 {
  margin-bottom: 50px;
  width: 600px;
  height: 750px;
  position: relative;
  overflow: hidden;
  left: 100px;
    .box {

    }
    // .box:hover {
    //   background: #E5E5E5;
    //   cursor: pointer;
    // }
    .temp1sect1 {
    width: 300px;
    height: 250px;
    background: url(../images/temp1sect1.jpg);
    position: absolute;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect2 {
    width: 300px;
    height: 250px;
    background: url(../images/temp1sect2.jpg);
    position: absolute;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect3 {
    width: 300px;
    height: 250px;
    background: url(../images/temp1sect3.jpg);
    position: absolute;
    top: 250px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect4 {
    width: 300px;
    height: 250px;
    background: url(../images/temp1sect4.jpg);
    position: absolute;
    left: 300px;
    top: 250px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect5 {
    width: 300px;
    background: url(../images/temp1sect5.jpg);
    position: absolute;
    top: 500px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect6 {
    width: 300px;
    height: 250px;
    background: url(../images/temp1sect6.jpg);
    position: absolute;
    top: 500px;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
}