.template2 {

}
.temp2-2 {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 600px;
  height: 750px;
  position: relative;
  overflow: hidden;
  left: 100px;
    .box {

    }
    .temp2sect1 {
    width: 300px;
    height: 375px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 375px;
      }
    }
    .temp2sect2 {
    width: 100px;
    height: 375px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 100px;
        height: 375px;
      }
    }
    .temp2sect3 {
    width: 200px;
    height: 375px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    left: 400px;
    top: 0px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 200px;
        height: 375px;
      }
    }
    .temp2left {
      display: inline-block;
      width: 300px;
      height: 375px;
      .temp2sect4 {
      width: 300px;
      height: 190px;
      background: darken(#E5E5E5, 20%);
      position: absolute;
      bottom: 185px;
      right: 298px;
      overflow: hidden;
      border: 1px solid #F2F2F2;
        img {
          width: 300px;
          height: 190px;
        }
      }
      .temp2sect5 {
      width: 300px;
      height: 190px;
      background: darken(#E5E5E5, 20%);
      position: absolute;
      bottom: 0px;
      right: 298px;
      overflow: hidden;
      border: 1px solid #F2F2F2;
        img {
          width: 300px;
          height: 190px;
        }
      }
    }
    .temp2sect6 {
    width: 300px;
    height: 375px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    bottom: 0px;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 375px;
      }
    }
}