.temp4-2 {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 600px;
  height: 750px;
  position: relative;
  overflow: hidden;
  left: 50px;
  .left {
    margin: 0;
    display: inline-block;
    .row1 {
      display: block;
      .temp4sect1 {
        width: 400px;
        height: 300px;
        background: darken(#E5E5E5, 20%);
        overflow: hidden;
        position: absolute;
        border: 1px solid #F2F2F2;
        img {
          width: 400px;
          height: 300px;
        }
      }
    }
    .row2 {
      display: block;
      .temp4sect2 {
        width: 200px;
        height: 450px;
        background: darken(#E5E5E5, 20%);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        border: 1px solid #F2F2F2;
        img {
          width: 200px;
          height: 450px;
        }
      }
      .temp4sect3 {
        width: 200px;
        height: 450px;
        background: darken(#E5E5E5, 20%);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 200px;
        border: 1px solid #F2F2F2;
        img {
          width: 200px;
          height: 450px;
        }
      }
    }
  }
  .right {
    margin: 0;
    display: inline-block;
    .temp4sect4 {
      width: 100px;
      height: 300px;
      background: darken(#E5E5E5, 20%);
      overflow: hidden;
      position: absolute;
      left: 400px;
      border: 1px solid #F2F2F2;
      img {
        width: 100px;
        height: 300px;
      }
    }
    .temp4sect5 {
      width: 100px;
      height: 300px;
      background: darken(#E5E5E5, 20%);
      overflow: hidden;
      position: absolute;
      left: 500px;
      border: 1px solid #F2F2F2;
      img {
        width: 100px;
        height: 300px;
      }
    }
    .temp4sect6 {
      width: 200px;
      height: 450px;
      background: darken(#E5E5E5, 20%);
      overflow: hidden;
      position: absolute;
      bottom: 0px;
      left: 400px;
      border: 1px solid #F2F2F2;
      img {
        width: 200px;
        height: 450px;
      }
    }
  }
}