.template1-2 {
  margin: 0 auto;
  text-align: center;
  h1 {
    color: gray;
  }
}
.form {
  position: absolute;
  left: 700px;
  width: 500px;
}
.temp1-2 {
  margin: 0 auto;
  width: 610px;
  height: 760px;
  // position: absolute;
  // left: 100px;
    .box {

    }
    .box:hover {
      background: #E5E5E5;
      cursor: pointer;
    }
    .temp1sect1 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect2 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect3 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect4 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect5 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect6 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    display: inline-block;
    overflow: hidden;
      img {
        width: 300px;
        height: 250px;
      }
    }
}