.temp1-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
  height: 750px;
  position: relative;
  overflow: hidden;
  left: 100px;
    .box {

    }
    .temp1sect1 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect2 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect3 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    top: 250px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect4 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    left: 300px;
    top: 250px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect5 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    top: 500px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
    .temp1sect6 {
    width: 300px;
    height: 250px;
    background: darken(#E5E5E5, 20%);
    position: absolute;
    top: 500px;
    left: 300px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
      img {
        width: 300px;
        height: 250px;
      }
    }
}