.template5 {
  .temp5 {
    width: 600px;
    height: 750px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    left: 100px;
    .left {
      margin-left: 0;
      display: inline-block;
      overflow: hidden;
      .row1 {
        display: block;
        overflow: hidden;
        text-align: left;
        .temp5sect1 {
          width: 400px;
          height: 300px;
          background: url(../images/temp5sect1.jpg);
          overflow: hidden;
          position: absolute;
          border: 1px solid #F2F2F2;
            img {
              width: 400px;
              height: 300px;
            }
        }
        // .temp5sect1:hover {
        //   background: #E5E5E5;
        //   cursor: pointer;
        // }
      }
      .row2 {
        display: block;
        text-align: left;
        overflow: hidden;
        .temp5sect2 {
          width: 200px;
          height: 450px;
          background: url(../images/temp5sect2.jpg);
          position: absolute;
          bottom: 0px;
          overflow: hidden;
          border: 1px solid #F2F2F2;
            img {
              width: 200px;
              height: 450px;
            }
        }
        // .temp5sect2:hover {
        //   background: #E5E5E5;
        //   cursor: pointer;
        // }
        .temp5sect3 {
          width: 200px;
          height: 450px;
          background: url(../images/temp5sect3.jpg);
          position: absolute;
          bottom: 0;
          left: 200px;
          overflow: hidden;
          border: 1px solid #F2F2F2;
            img {
              width: 200px;
              height: 450px;
            }
        }
        // .temp5sect3:hover {
        //   background: #E5E5E5;
        //   cursor: pointer;
        // }
      }
    }
    .right {
      margin: 0;
      display: inline-block;
      overflow: hidden;
      float: none;
      .temp5sect4 {
        width: 200px;
        height: 300px;
        background: url(../images/temp5sect4.jpg);
        position: absolute;
        top: 0;
        left: 400px;
        overflow: hidden;
        border: 1px solid #F2F2F2;
          img {
            width: 200px;
            height: 300px;
          }
      }
      // .temp5sect4:hover {
      //   background: #E5E5E5;
      //   cursor: pointer;
      // }
      .temp5sect5 {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: url(../images/temp5sect5.jpg);
        position: absolute;
        z-index: 1000;
        top: 50px;
        left: 300px;
        overflow: hidden;
        border: 1px solid #F2F2F2;
          img {
            width: 200px;
            height: 200px;
          }
      }
      // .temp5sect5:hover {
      //   background: #E5E5E5;
      //   cursor: pointer;
      // }
      .temp5sect6 {
        width: 200px;
        height: 450px;
        border: 1px solid #F2F2F2;
        background: url(../images/temp5sect6.jpg);
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 400px;
          img {
            width: 200px;
            height: 450px;
          }
      }
      // .temp5sect6:hover {
      //   background: #E5E5E5;
      //   cursor: pointer;
      // }
    }
  }
}