<h2>Edit Image Post</h2>

<form ng-submit="(vm.editImagePost(image, vm.postId))" class="image-form"> 

  <div class="image-right-column">
    <image-upload file="image.image"></image-upload>
    <input placeholder="title" ng-model="image.title">
    <textarea placeholder="description" ng-model="image.description"></textarea>
    <input placeholder="up to 3 tags that describe this (watercolor, ink, illustration)" ng-model="image.tag_phrases">
  </div>

<div class="image-center">
  <button>post</button>
</form>