<section class="template2">
  <h1>Template 2</h1>

  <div class="temp2">
    <a ng-click="vm.showForm1()">
      <div class="box temp2sect1">
        <img ng-src="{{vm.moodPieces[0].image}}">
      </div>
    </a>
    <a ng-click="vm.showForm2()">
      <div class="box temp2sect2">
        <img ng-src="{{vm.moodPieces[1].image}}">        
      </div>
    </a>
    <a ng-click="vm.showForm3()">
      <div class="box temp2sect3">
        <img ng-src="{{vm.moodPieces[2].image}}">        
      </div>
    </a>
    <div class="temp2left">
      <a ng-click="vm.showForm4()">
        <div class="box temp2sect4">
          <img ng-src="{{vm.moodPieces[3].image}}">          
        </div>
      </a>
      <a ng-click="vm.showForm5()">
        <div class="box temp2sect5">
          <img ng-src="{{vm.moodPieces[4].image}}">          
        </div>
      </a>
    </div>
    <a ng-click="vm.showForm6()">
      <div class="box temp2sect6">
        <img ng-src="{{vm.moodPieces[5].image}}">      
      </div>
    </a>
  </div>

  <div class="form">
    <add-image ng-show="vm.showImageUpload1" id="{{vm.postId}}" mood="temp2sect1"></add-image>
    <add-image ng-show="vm.showImageUpload2" id="{{vm.postId}}" mood="temp2sect2"></add-image>
    <add-image ng-show="vm.showImageUpload3" id="{{vm.postId}}" mood="temp2sect3"></add-image>
    <add-image ng-show="vm.showImageUpload4" id="{{vm.postId}}" mood="temp2sect4"></add-image>
    <add-image ng-show="vm.showImageUpload5" id="{{vm.postId}}" mood="temp2sect5"></add-image>
    <add-image ng-show="vm.showImageUpload6" id="{{vm.postId}}" mood="temp2sect6"></add-image>
  </div>

</section>