<h1 class="templateheader">Template 3</h1>
<section class="template3">
  <div class="temp3">
    <div class="left">
      <div class="row1">
        <a ng-click="vm.showForm1()">
          <div class="box temp3sect1">
            <img ng-src="{{vm.moodPieces[0].image}}">           
          </div>
        </a>
      </div>
      <div class="row2">
        <div class="column1">
          <a ng-click="vm.showForm3()">
            <div class="box temp3sect3">
              <img ng-src="{{vm.moodPieces[2].image}}">         
            </div>
          </a>
        </div>
        <div class="column2">
          <a ng-click="vm.showForm5()">
            <div class="box temp3sect5">
            <img ng-src="{{vm.moodPieces[4].image}}">       
            </div>
          </a>
          <a ng-click="vm.showForm4()">
            <div class="box temp3sect4">
            <img ng-src="{{vm.moodPieces[3].image}}">           
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <a ng-click="vm.showForm2()">
        <div class="box temp3sect2">
          <img ng-src="{{vm.moodPieces[1].image}}">           
        </div>
      </a>
      <a ng-click="vm.showForm6()">
        <div class="box temp3sect6">
          <img ng-src="{{vm.moodPieces[5].image}}">           
        </div>
      </a>
    </div>
  </div>

  <div class="form">
    <div class="mood-upload">
      <p>1.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect1"></add-image>
    </div>
    <div class="mood-upload">
      <p>2.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect2"></add-image>
    </div>
    <div class="mood-upload">
      <p>3.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect3"></add-image>
    </div>
    <div class="mood-upload">
      <p>4.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect4"></add-image>
    </div>
    <div class="mood-upload">
      <p>5.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect5"></add-image>
    </div>
    <div class="mood-upload">
      <p>6.</p>
      <add-image id="{{vm.postId}}" mood="temp3sect6"></add-image>
    </div>
    <div class="mood-complete">
      <button ng-click="vm.deletePost(vm.post.user_id)">delete</button>
      <button ng-click="vm.navigatePost(vm.post.user_id)">complete</button>
    </div>
  </div>

</section>