<section class="template1">
  <h1>MoodBoard Classic&trade;</h1>

  <div class="temp1">
    <a ng-click="vm.showForm1()">
      <div class="box temp1sect1">
        <img ng-src="{{vm.moodPieces[0].image}}">
      </div>
  </a>
    <a ng-click="vm.showForm2()">
      <div class="box temp1sect2">
        <img ng-src="{{vm.moodPieces[1].image}}">
      </div>
    </a>
    <a ng-click="vm.showForm3()">
      <div class="box temp1sect3">
        <img ng-src="{{vm.moodPieces[2].image}}">        
      </div>
    </a>
    <a ng-click="vm.showForm4()">
      <div class="box temp1sect4">
        <img ng-src="{{vm.moodPieces[3].image}}">        
      </div>
    </a>
    <a ng-click="vm.showForm5()">
      <div class="box temp1sect5">
        <img ng-src="{{vm.moodPieces[4].image}}">        
      </div>
    </a>
    <a ng-click="vm.showForm6()">
      <div class="box temp1sect6">
        <img ng-src="{{vm.moodPieces[5].image}}">        
      </div>
    </a>
  </div>
  <div class="form">
    <add-image ng-show="vm.showImageUpload1" id="{{vm.postId}}" mood="temp1sect1"></add-image>
    <add-image ng-show="vm.showImageUpload2" id="{{vm.postId}}" mood="temp1sect2"></add-image>
    <add-image ng-show="vm.showImageUpload3" id="{{vm.postId}}" mood="temp1sect3"></add-image>
    <add-image ng-show="vm.showImageUpload4" id="{{vm.postId}}" mood="temp1sect4"></add-image>
    <add-image ng-show="vm.showImageUpload5" id="{{vm.postId}}" mood="temp1sect5"></add-image>
    <add-image ng-show="vm.showImageUpload6" id="{{vm.postId}}" mood="temp1sect6"></add-image>
  </div>
</section>

<!-- <section class="mood-form" ng-repeat="moodPiece in vm.moodPieces">
  <div class="{{moodPiece.div_id}}">
    <img ng-src="{{moodPiece.image}}">
  </div>
</section> -->
