<section class="template1">
  <h1>Template 4</h1>

  <div class="temp1">
  <a ng-click="showForm1()"><div class="temp1sect1"></div></a>
  <a ng-click="showForm2()"><div class="temp1sect2"></div></a>
  <a ng-click="showForm3()"><div class="temp1sect3"></div></a>
  <a ng-click="showForm4()"><div class="temp1sect4"></div></a>
  <a ng-click="showForm5()"><div class="temp1sect5"></div></a>
  <a ng-click="showForm6()"><div class="temp1sect6"></div></a>
  </div>

  <div class="form">
    <add-image ng-show="vm.showImageUpload1" id="{{vm.postId}}" mood="temp1sect1"></add-image>
    <add-image ng-show="vm.showImageUpload2" id="{{vm.postId}}" mood="temp1sect2"></add-image>
    <add-image ng-show="vm.showImageUpload3" id="{{vm.postId}}" mood="temp1sect3"></add-image>
    <add-image ng-show="vm.showImageUpload4" id="{{vm.postId}}" mood="temp1sect4"></add-image>
    <add-image ng-show="vm.showImageUpload5" id="{{vm.postId}}" mood="temp1sect5"></add-image>
    <add-image ng-show="vm.showImageUpload6" id="{{vm.postId}}" mood="temp1sect6"></add-image>
  </div>
  
</section>