<section class="template1">
  <h1>Template 5</h1>

  <div class="temp1">
  <a ng-click="showForm1()"><div class="temp1sect1"></div></a>
  <a ng-click="showForm2()"><div class="temp1sect2"></div></a>
  <a ng-click="showForm3()"><div class="temp1sect3"></div></a>
  <a ng-click="showForm4()"><div class="temp1sect4"></div></a>
  <a ng-click="showForm5()"><div class="temp1sect5"></div></a>
  <a ng-click="showForm6()"><div class="temp1sect6"></div></a>
  </div>
  <div class="form">
    <add-image ng-show="vm.showImageUpload1" mood="vm.mood"></add-image>
    <add-image ng-show="vm.showImageUpload2" mood="vm.mood"></add-image>
    <add-image ng-show="vm.showImageUpload3" mood="vm.mood"></add-image>
    <add-image ng-show="vm.showImageUpload4" mood="vm.mood"></add-image>
    <add-image ng-show="vm.showImageUpload5" mood="vm.mood"></add-image>
    <add-image ng-show="vm.showImageUpload6" mood="vm.mood"></add-image>
  </div>
</section>