<section class="template2">
  <h1>Template 3</h1>

  <div class="temp3">

  <div class="left">
    <div class="row1">
      <div class="temp3sect1"></div>
    </div>
    <div class="row2">
      <div class="column1">
        <div class="temp3sect2"></div>
      </div>
      <div class="column2">
        <div class="temp3sect3"></div>
        <div class="temp3sect4"></div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="temp3sect5"></div>
    <div class="temp3sect6"></div>
  </div>

  </div>
</section>