<h1 class="templateheader">Template 2</h1>
<section class="template2">

  <div class="temp2">
    <a ng-click="vm.showForm1()">
      <div class="box temp2sect1">
        <img ng-src="{{vm.moodPieces[0].image}}">
      </div>
    </a>
    <a ng-click="vm.showForm2()">
      <div class="box temp2sect2">
        <img ng-src="{{vm.moodPieces[1].image}}">        
      </div>
    </a>
    <a ng-click="vm.showForm3()">
      <div class="box temp2sect3">
        <img ng-src="{{vm.moodPieces[2].image}}">        
      </div>
    </a>
    <div class="temp2left">
      <a ng-click="vm.showForm4()">
        <div class="box temp2sect4">
          <img ng-src="{{vm.moodPieces[3].image}}">          
        </div>
      </a>
      <a ng-click="vm.showForm5()">
        <div class="box temp2sect5">
          <img ng-src="{{vm.moodPieces[4].image}}">          
        </div>
      </a>
    </div>
    <a ng-click="vm.showForm6()">
      <div class="box temp2sect6">
        <img ng-src="{{vm.moodPieces[5].image}}">      
      </div>
    </a>
  </div>

  <div class="form">
    <div class="mood-upload">
      <p>1.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect1"></add-image>
    </div>
    <div class="mood-upload">
      <p>2.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect2"></add-image>
    </div>
    <div class="mood-upload">
      <p>3.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect3"></add-image>
    </div>
    <div class="mood-upload">
      <p>4.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect4"></add-image>
    </div>
    <div class="mood-upload">
      <p>5.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect5"></add-image>
    </div>
    <div class="mood-upload">
      <p>6.</p>
      <add-image id="{{vm.postId}}" mood="temp2sect6"></add-image>
    </div>
    <div class="mood-complete">
      <button ng-click="vm.deletePost(vm.post.user_id)">delete</button>
      <button ng-click="vm.navigatePost(vm.post.user_id)">complete</button>
    </div>
  </div>

</section>