<nav class="nav" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/login">Sign In</a></li>
      <li class="register"><a href="#/register">Register</a></li>
    </ul>
    <ul class="left">
      <li><a href="#/"><img class="abstractlogo" src="abstractlogo.png"></a></li>
    </ul>
    <ul class="navlinks-left">
      <li><a href="#/">explore</a></li>
      <li><a href="#/">groups</a></li>
      <li><a href="#/">messages</a></li>
    </ul>
  </section>
</nav>

<section class="container" ui-view></section>