<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Abstract</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Sign In</a></li>
      <li><a href="#/">Register</a></li>
    </ul>
    <ul class="left">
      <li><a href="#/">explore</a></li>
      <li><a href="#/">groups</a></li>
      <li><a href="#/">messages</a></li>
    </ul>
  </section>
</nav>


<section class="container" ui-view></section>