<div class="user-posts">
  <div class="user-tiles">
    <user-moodtile1 ng-repeat="p in vm.postMood1" post="p"></user-moodtile1>
    <user-moodtile2 ng-repeat="p in vm.postMood2" post="p"></user-moodtile2>
    <user-moodtile3 ng-repeat="p in vm.postMood3" post="p"></user-moodtile3>
    <user-moodtile4 ng-repeat="p in vm.postMood4" post="p"></user-moodtile4>
    <user-moodtile5 ng-repeat="p in vm.postMood5" post="p"></user-moodtile5>
  </div>   
</div>

<div class="post-select">
  <button ng-click="vm.morePosts()">see more posts</button> 
</div>