<div class="temp5-2">
  <div class="left">
    <div class="row1">
      <div class="box temp5sect1">
        <img ng-src="{{vm.post.moodpieces[0].image}}">
      </div>
    </div>
    <div class="row2">
      <div class="box temp5sect2">
        <img ng-src="{{vm.post.moodpieces[1].image}}">
      </div>
      <div class="box temp5sect3">
        <img ng-src="{{vm.post.moodpieces[2].image}}">
      </div>
    </div>
  </div>
  <div class="right">
    <div class="row1">
      <div class="box temp5sect4">
        <img ng-src="{{vm.post.moodpieces[3].image}}">
      </div>
      <div class="box temp5sect5">
        <img ng-src="{{vm.post.moodpieces[4].image}}">
      </div>
    </div>
    <div class="row2">
      <div class="box temp5sect6">
        <img ng-src="{{vm.post.moodpieces[5].image}}">
      </div>
    </div>
  </div>
</div>

<form ng-submit="vm.addComment(comment)">
  <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
  <button>comment</button>
</form>

<hr>

<h3>Comments</h3>

<div class="comment-section" ng-repeat="comment in vm.comments">
  <img ng-src="{{comment.picture}}">
  <span>{{comment.username}}</span>
  <p>{{comment.message}}</p>
</div>

<a class="editpost" href="#/mood/temp5/{{ vm.post.id }}"><button>edit post</button></a>
<button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>