<div class="temp5-2">
  <div class="left">
    <div class="row1">
      <div class="box temp5sect1">
        <img ng-src="{{vm.post.moodpieces[0].image}}">
      </div>
    </div>
    <div class="row2">
      <div class="box temp5sect2">
        <img ng-src="{{vm.post.moodpieces[1].image}}">
      </div>
      <div class="box temp5sect3">
        <img ng-src="{{vm.post.moodpieces[2].image}}">
      </div>
    </div>
  </div>
  <div class="right">
    <div class="row1">
      <div class="box temp5sect4">
        <img ng-src="{{vm.post.moodpieces[3].image}}">
      </div>
      <div class="box temp5sect5">
        <img ng-src="{{vm.post.moodpieces[4].image}}">
      </div>
    </div>
    <div class="row2">
      <div class="box temp5sect6">
        <img ng-src="{{vm.post.moodpieces[5].image}}">
      </div>
    </div>
  </div>
</div>

<div class="singleview">
  <p ng-click="vm.likePost(vm.post.id)"><i class="fa fa-heart-o"></i> {{vm.post.likes_count}}</p>
</div>


<div class="moodbuttons">
  <a class="editpost" href="#/mood/temp5/{{ vm.post.id }}"><button ng-show="vm.myPost" >edit post</button></a>
  <button ng-show="vm.myPost" ng-click="vm.deletePost(vm.post.user_id)">delete post</button>
</div>

<section class="comments">
  <h3>comments</h3>
  <hr>
  <section class="comment-list">
    <div class="comment-section" ng-repeat="comment in vm.comments">
      <div class="image">
        <a href="#/user/{{comment.user_id}}/allposts"><img ng-src="{{comment.picture}}"></a>
      </div>
      <div class="content">
        <small><a href="#/user/{{comment.user_id}}/allposts">{{comment.username}}</a></small>
        <span>{{comment.message}}</span>
      </div>
    </div>
  </section>
  <hr>
  <form ng-submit="vm.addComment(comment)">
    <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
    <button>comment</button>
  </form>
</section>