<div class="temp4-2">
  <div class="left">
    <div class="row1">
      <a ng-click="vm.showForm1()">
        <div class="temp4sect1">
          <img ng-src="{{vm.post.moodpieces[0].image}}">           
        </div>
      </a>
    </div>
    <div class="row2">
      <a ng-click="vm.showForm2()">
        <div class="temp4sect2">
          <img ng-src="{{vm.post.moodpieces[1].image}}">
        </div>
      </a>
      <a ng-click="vm.showForm3()">
        <div class="temp4sect3">
          <img ng-src="{{vm.post.moodpieces[2].image}}">
        </div>
      </a>
    </div>
  </div>
  <div class="right">
    <div class="row1">
      <a ng-click="vm.showForm4()">
        <div class="temp4sect4">
          <img ng-src="{{vm.post.moodpieces[3].image}}">
        </div>
      </a>
      <a ng-click="vm.showForm5()">
        <div class="box temp4sect5">
          <img ng-src="{{vm.post.moodpieces[4].image}}">
        </div>
      </a>
    </div>
    <div class="row2">
      <a ng-click="vm.showForm6()">
        <div class="temp4sect6">
          <img ng-src="{{vm.post.moodpieces[5].image}}">
        </div>
      </a>
    </div>
  </div>
</div>

<div class="singleview">
  <p ng-click="vm.likePost(vm.post.id)"><i class="fa fa-heart-o"></i> {{vm.post.likes_count}}</p>
</div>


<div class="moodbuttons">
  <a class="editpost" href="#/mood/temp4/{{ vm.post.id }}"><button ng-show="vm.myPost">edit post</button></a>
  <button ng-show="vm.myPost" ng-click="vm.deletePost(vm.post.user_id)">delete post</button>
</div>

<section class="comments">
  <h3>comments</h3>
  <hr>
  <section class="comment-list">
    <div class="comment-section" ng-repeat="comment in vm.comments">
      <div class="image">
        <a href="#/profile/{{comment.user_id}}"><img ng-src="{{comment.picture}}"></a>
      </div>
      <div class="content">
        <small><a href="#/profile/{{comment.user_id}}">{{comment.username}}</a></small>
        <span>{{comment.message}}</span>
      </div>
    </div>
  </section>
  <hr>
  <form ng-submit="vm.addComment(comment)">
    <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
    <button>comment</button>
  </form>
</section>