<div class="temp1-2">
  <div class="box temp1sect1">
    <img ng-src="{{vm.post.moodpieces[0].image}}">
  </div>
  <div class="box temp1sect2">
    <img ng-src="{{vm.post.moodpieces[1].image}}">
  </div>
  <div class="box temp1sect3">
    <img ng-src="{{vm.post.moodpieces[2].image}}">        
  </div>
  <div class="box temp1sect4">
    <img ng-src="{{vm.post.moodpieces[3].image}}">        
  </div>
  <div class="box temp1sect5">
    <img ng-src="{{vm.post.moodpieces[4].image}}">        
  </div>
  <div class="box temp1sect6">
    <img ng-src="{{vm.post.moodpieces[5].image}}">        
  </div>
</div>

<section class="mood-comments">
  <h3>Comments</h3>
  <section class="comment-list">
    <div class="comment-section" ng-repeat="comment in vm.comments">
      <img ng-src="{{comment.picture}}">
      <span>{{comment.username}}</span>
      <p>{{comment.message}}</p>
    </div>
  </section>
  <form ng-submit="vm.addComment(comment)">
    <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
    <button>comment</button>
  </form>
</section>

  <a class="editpost" href="#/mood/temp1/{{ vm.post.id }}"><button>edit post</button></a>
  <button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>