<div class="singleview">
  <small><a href="#/user/{{ vm.post.user_id }}/allposts">{{ vm.post.username }}</a></small>
  <p class="text">{{ vm.post.quote }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <p ng-click="vm.likePost(vm.post.id)"><i class="fa fa-heart-o"></i> {{vm.post.likes_count}}</p>
</div>

<div class="moodbuttons">
  <a class="editpost" href="#editquote/{{ vm.post.id }}"><button>edit post</button></a>
  <button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>
</div>

<section class="comments">
  <h3>comments</h3>
  <hr>
  <section class="comment-list">
    <div class="comment-section" ng-repeat="comment in vm.comments">
      <div class="image">
        <a href="#/profile/{{comment.user_id}}"><img ng-src="{{comment.picture}}"></a>
      </div>
      <div class="content">
        <small><a href="#/profile/{{comment.user_id}}">{{comment.username}}</a></small>
        <span>{{comment.message}}</span>
      </div>
    </div>
  </section>
  <hr>
  <form ng-submit="vm.addComment(comment)">
    <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
    <button>comment</button>
  </form>
</section>


