<div>
  <p>{{ vm.post.quote }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <a href="#/user/{{ vm.post.user_id }}/allposts">{{ vm.post.username }}</a>
  <p ng-click="vm.likePost(vm.post.id)"><i class="fa fa-heart-o"></i> {{vm.post.likes_count}}</p>
</div>
<hr>

<form ng-submit="vm.addComment(comment)">
  <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
  <button>comment</button>
</form>

<hr>

<h3>Comments</h3>

<div class="comment-section" ng-repeat="comment in vm.comments">
  <img ng-src="{{comment.picture}}">
  <span>{{comment.username}}</span>
  <p>{{comment.message}}</p>
</div>

<a class="editpost" href="#/editquote/{{ vm.post.id }}"><button ng-show="vm.myPost">edit post</button></a>
<button ng-show="vm.myPost" ng-click="vm.deletePost(vm.post.user_id)">delete post</button>


