<div>
  <p>{{ vm.post.quote }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <a href="#/userhome/{{ vm.post.post.user_id }}">{{ vm.post.username }}</a>
</div>
<hr>

<form ng-submit="vm.addComment(comment)">
  <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
  <button>comment</button>
</form>

<hr>

<h3>Comments</h3>

<div class="comment-section" ng-repeat="comment in vm.comments">
  <img ng-src="{{comment.picture}}">
  <span>{{comment.username}}</span>
  <p>{{comment.message}}</p>
</div>

<a class="editpost" href="#/editquote/{{ vm.post.user_id }}"><button>edit post</button></a>
<button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>


