<div class="singleview">
  <h3>{{ vm.post.title }}</h3>
  <small><a href="#/user/{{ vm.post.user_id }}/allposts">{{ vm.post.username }}</a></small>
  <p><a class="link" href="{{ vm.post.url }}">{{ vm.post.url }}</a></p>
  <p class="description">{{ vm.post.description }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <p ng-click="vm.likePost(vm.post.id)"><i class="fa fa-heart-o"></i> {{vm.post.likes_count}}</p>
</div>

<div class="moodbuttons">
  <a class="editpost" href="#editurl/{{ vm.post.id }}"><button ng-show="vm.myPost">edit post</button></a>
  <button ng-show="vm.myPost" ng-click="vm.deletePost(vm.post.user_id)">delete post</button>
</div>

<section class="comments">
  <h3>comments</h3>
  <hr>
  <section class="comment-list">
    <div class="comment-section" ng-repeat="comment in vm.comments">
      <div class="image">
        <a href="#/user/allposts/{{comment.user_id}}/allposts"><img ng-src="{{comment.picture}}"></a>
      </div>
      <div class="content">
        <small><a href="#/user/allposts/{{comment.user_id}}/allposts">{{comment.username}}</a></small>
        <span>{{comment.message}}</span>
      </div>
    </div>
  </section>
  <hr>
  <form ng-submit="vm.addComment(comment)">
    <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
    <button>comment</button>
  </form>
</section>


