<div>
  <h3>{{ vm.post.title }}</h3>
  <a href="{{ vm.post.url }}">{{ vm.post.url }}</a>
  <p>{{ vm.post.description }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <a href="#/userhome/{{ vm.post.post.user_id }}">{{ vm.post.username }}</a>
</div>
<hr>

<form ng-submit="vm.addComment(comment)">
  <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
  <button>comment</button>
</form>

<hr>

<h3>Comments</h3>

<div class="comment-section" ng-repeat="comment in vm.comments">
  <img ng-src="{{comment.picture}}">
  <span>{{comment.username}}</span>
  <p>{{comment.message}}</p>
</div>

<button ng-click="vm.editPost(vm.post.user_id)">edit post</button>
<button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>


