<section class="mood-form">
  <div ng-click="vm.selectMood()" class="mood-form">temp1</div>
  <a href="#/mood/temp2" ng-click="vm.uploadMoodPost2(mood)"><div class="mood-form">temp2</div></a>
  <a href="#/mood/temp3" ng-click="vm.uploadMoodPost3(mood)"><div class="mood-form">temp3</div></a>
  <a href="#/mood/temp4" ng-click="vm.uploadMoodPost4(mood)"><div class="mood-form">temp4</div></a>
  <a href="#/mood/temp5" ng-click="vm.uploadMoodPost5(mood)"><div class="mood-form">temp5</div></a>
</section>