<div>
  <img ng-src="{{ vm.post.image_medium }}">
  <h3>{{ vm.post.title }}</h3>
  <p>{{ vm.post.description }}</p>
  <p>{{ vm.post.tags.split(', ').join(' #') }}</p>
  <a href="{{ vm.post.url }}">{{ vm.post.url }}</a>
  <p>{{ vm.post.status }}</p>
  <p>{{ vm.post.quote }}</p>
  <a href="#/userhome/{{ vm.post.post.user_id }}">{{ vm.post.username }}</a>
</div>
<hr>

<form ng-submit="vm.addComment(comment)">
  <textarea placeholder="add comment here" ng-model="comment.message"></textarea>
  <button>comment</button>
</form>

<button ng-click="vm.deletePost(vm.post.user_id)">delete post</button>


