<div>
  <nav class="side-bar">
    <img ng-src="{{ vm.profile.picture_medium }}">
    <h2>{{ vm.profile.username }}</h2>
    <p>{{ vm.profile.bio }}</p>
    <a href="{{ vm.profile.website }}">{{ vm.profile.website }}</a>
    <p>{{ vm.profile.location }}</p>
    <button ng-if="!vm.meFollow" ng-click="vm.follow()">follow me</button>
    <button ng-if="vm.meFollow">following</button>
    <div class="follower-info">
      <a href="#/following/{{vm.profile.id}}"><span>{{vm.followingNum}} following </span></a>|
      <a href="#/followers/{{vm.profile.id}}"><span>{{vm.followerNum}} followers</span></a>
    </div>
    <p>inspirations</p>
    <div ng-repeat="p in vm.postMood[0].post.moodpieces" class="side-bar-mood">
      <img ng-src="{{p.image}}">
    </div>
  </nav>

  <div class="sort-posts">
    <a href="#/user/{{vm.profile.id}}/allposts">all</a>
    <a href="#/user/{{vm.profile.id}}/imageposts">images</a>
    <a href="#/user/{{vm.profile.id}}/textposts">texts</a>
    <a href="#/user/{{vm.profile.id}}/quoteposts">quotes</a>
    <a href="#/user/{{vm.profile.id}}/linkposts">links</a>
    <a href="#/user/{{vm.profile.id}}/moodposts">mood boards</a>
    <div ui-view=""></div>
  </div>

</div>