<div>
  <nav class="side-bar">
    <img ng-src="{{ vm.profile.picture_medium }}">
    <h2>{{ vm.profile.username }}</h2>
    <p>{{ vm.profile.bio }}</p>
    <a href="{{ vm.profile.website }}">{{ vm.profile.website }}</a>
    <p>{{ vm.profile.location }}</p>
    <button ng-click="vm.follow()">follow me</button>
    <div class="follower-info">
      <a href="#/following/{{vm.profile.id}}"><span>{{vm.followingNum}} following </span></a>|
      <a href="#/followers/{{vm.profile.id}}"><span>{{vm.followerNum}} followers</span></a>
    </div>
    <p>inspirations</p>
    <div ng-repeat="p in vm.postMood[0].post.moodpieces" class="side-bar-mood">
      <img ng-src="{{p.image}}">
    </div>
  </nav>

  <div class="user-posts">
<!--     <h1>Hello, {{ vm.profile.username }}!</h1> -->
    <div class="user-tiles">
      <user-tile ng-repeat="p in vm.postImg" post="p"></user-tile>
<!--     </div>
    <div class="user-tiles"> -->
      <user-txttile ng-repeat="p in vm.postTxt" post="p"></user-txttile>
<!--     </div> 
    <div class="user-tiles"> -->
      <user-qtetile ng-repeat="p in vm.postQte" post="p"></user-qtetile>
<!--     </div>
    <div class="user-tiles"> -->
      <user-urltile ng-repeat="p in vm.postUrl" post="p"></user-urltile>
<!--     </div>   
    <div class="user-tiles"> -->
      <user-moodtile1 ng-repeat="p in vm.postMood1" post="p"></user-moodtile1>
      <user-moodtile2 ng-repeat="p in vm.postMood2" post="p"></user-moodtile2>
      <user-moodtile3 ng-repeat="p in vm.postMood3" post="p"></user-moodtile3>
      <user-moodtile4 ng-repeat="p in vm.postMood4" post="p"></user-moodtile4>
      <user-moodtile5 ng-repeat="p in vm.postMood5" post="p"></user-moodtile5>
    </div>  
  </div>
</div>